doctype html
html(lang=en)
  head
    title Grid example
    link(href='css/main.css',type='text/css',rel='stylesheet')
  body
    div.wrapper
      h1 SSG - Simple Sass Grid
      include ./partials/variables.jade
      include ./partials/grid.jade
      include ./partials/mixins.jade
