@each $bp in $grid-breakpoints {
  $bp_name: nth($bp, 1);

  @media (min-width: nth($bp, 2)) {
    .#{$grid-prefix}#{$grid-col-name}-#{$bp_name}-golden-large {
      width: 61,875%;
    }
    .#{$grid-prefix}#{$grid-col-name}-#{$bp_name}-golden-small {
      width: 38,125%;
    }
  }
}
