///
///     Mixins
///

////
// @include media-min('xs') {
//  display: none;
// }
////
@mixin media-min ($breakpoint) {
    @media (min-width: map-get(grid-get-breakpoint($breakpoint), 'min')) {
        @content;
    }
}

////
// @include media-max('md') {
//  display: none;
// }
////
@mixin media-max ($breakpoint) {
  $bp: grid-get-breakpoint($breakpoint);
  @media (max-width: map-get($bp, 'max')) {
      @content;
  }
}

////
// @include media-between('md', 'lg') {
//  display: block;
// }
////
@mixin media-between($break_from, $break_to) {
  $_bp_min: grid-get-breakpoint($break_from);
  $_bp_max: grid-get-breakpoint($break_to);
  @if (map-get($_bp_max, 'max') != null) {
    @media (min-width: map-get($_bp_min, 'min')) and (max-width: map-get($_bp_max, 'max')) {
        @content;
    }
  }
  @else {
    @include media-min($break_from) {
      @content;
    }
  }
}

////
// @include media-is('xs') {
//  display: none;
// }
////
@mixin media-is ($breakpoint) {
  @include media-between($breakpoint, $breakpoint) {
    @content;
  }
}

////
// @include vendor(border-radius, 4px);
// @include vendor(box-sizing, border-box);
////
@mixin vendor($property, $value...) {
  -webkit-#{$property}:$value;
     -moz-#{$property}:$value;
      -ms-#{$property}:$value;
       -o-#{$property}:$value;
          #{$property}:$value;
}
